.images {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.headline {
  text-align: center;
}
.list-item {
  width: 45%;
  margin: 10px;
  list-style: none;
}

.image {
  width: 100%;
}

.btn {
  appearance: none;
  background-color: #2ea44f;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  margin-bottom: 20px;
  width: 100%;
}

.btn:hover {
  background-color: #2c974b;
}
